<module>
	<rawname>speeddial</rawname>
	<repo>extended</repo>
	<name>Speed Dial Functions</name>
	<version>2.10.0.0</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<changelog>
		*2.10.0.0* new version changes
		*2.9.0.1* set repo
		*2.9.0.0* #4535, #4651
	</changelog>
	<category>Settings</category>
	<depends>
		<module>phonebook</module>
	</depends>
	<location>release/2.10/speeddial-2.10.0.0.tgz</location>
	<md5sum>407e282c3f20e39a630dae0e1486f8d1</md5sum>
<supported><version>2.10</version></supported></module>
