<module>
	<rawname>speeddial</rawname>
	<name>Speed dial functions</name>
	<version>1.0.4.2</version>
	<changelog>
		*1.0.4.2* #2329 add WaitExten after background
		*1.0.4.1* bump for rc1
		*1.0.4* #2049 remove use of speedial-clean, allow leading 0s
		*1.0.3* changed ${CALLERID(number)} to ${AMPUSER} to accomodate CID number masquerading
		*1.0.2* No comment
		*1.0.1* First release for 2.2
	</changelog>
	<type>module</type>
	<category>CID &amp; Number Management</category>
	<depends>
		<module>phonebook</module>
	</depends>
	<location>release/2.3/speeddial-1.0.4.1.tgz</location>
	<md5sum>f9d72c28b47b47dd2a6facd96b308227</md5sum>
</module>
