<module>
	<rawname>speeddial</rawname>
	<name>Speed dial functions</name>
	<version>1.0</version>
	<type>module</type>
	<category>Basic</category>
	<depends>
		<phonebook/>
	</depends>
	<location>release/speeddial-0.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Features</info>
	<md5sum>b96bd3b9f7921aefc1ea7ce6cda6cc7a</md5sum>
</module>
